@model ManagementSystemVersionTwo.Models.Worker
@{
    var lastPayment = Model.Payments.Last();
}

@if (lastPayment is null || (lastPayment.Date.Month < DateTime.Now.Month && lastPayment.Date.Year == DateTime.Now.Year))
{
    @Html.ActionLink("Pay","MakePayment", "Payment", new { id = Model.ID },new { @class=""})
}
else
{
    <p>Already Paid for this Month</p>
}
