@model ManagementSystemVersionTwo.Models.Worker
@{
    
}

@if (ViewBag.LastPayment==0)
{
    @Html.ActionLink("Pay","MakePayment", "Payment", new { id = Model.ID },new { @class=""})
}
else
{
    <p>Already Paid for this Month</p>
}
