@model IEnumerable<ManagementSystemVersionTwo.Models.Department>
@{
    ViewBag.Title = "Details Department";
}

<h2>DetailsDepartment</h2>
<table>
    <tr>
        <th>
            City
        </th>
        <th>
            Address
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Back to All Departments", "../Display/ViewAllDepartments")
</div>
