@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "CreateRole";
}
                <div class="row">
                    <div class="col-12 grid-margin">

                        @using (@Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div style="margin:auto; min-width:50%" class="card">
                                <div class="card-body">
                                    <h2 style="text-align: center;">Add New Role</h2>
                                    <div class="form-sample">
                                        <h4 class="card-description"> Role Descriptive Name </h4>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    @Html.DisplayFor(s => Model.Name,  new { @class = "col-sm-3 col-form-label" })
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(s => Model.Name)
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div style="justify-content: center;" class="row col-md-12">
                                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                </div>
           