@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
.container{
  height: 700px;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}


.col-md-12.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .col-md-6.input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .col-md-6.input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .col-md-6.input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 25px;
  padding-left: 15px;
  border: none;
  border-bottom-width: 2px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
   
 }
 
 form .category label .dot{
   margin-left: 20px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two{
   background: #00da21;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
form .col-md-5.button{
   height: 45px;
   margin:35px 200px;
   
 }

 form .col-md-5.button input{
   height: 100%;
   width: 150px;
   border-radius: 25px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(150deg, #006CFF, #00397C);
 }
 form .button input:hover{
  background: linear-gradient(-100deg, #00397C, #006CFF);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 700px){
  .container .content .category{
    flex-direction: column;
  }
}

/* --Avatar Image-- */
.col-md-3 .avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* --Avatar-- */

/* --SideNavbar-- */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background: linear-gradient(135deg, #006CFF, #00397C); */
    background: linear-gradient( -35deg,#69a7fc, #006CFF, #004696,#00224a);
    background-size: 200% 200%;
    animation: change 10s ease-in-out infinite;
    overflow-x: hidden;
    padding-top: 300px;
  }
  
  @keyframes change {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
  }

  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #e4e2e2;
    display: block;
    font-weight: lighter;
  }
  
.sidebar:hover{
  background: #00397C;
}

.text:hover{
  border-left: 6px solid rgb(230, 230, 230);
}

  .main {
    margin-left: 200px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* --SideNavbar-- */