@model List<ManagementSystemVersionTwo.Models.ApplicationUser>
@{
    ViewBag.Title = "ViewSupervisorsPerDepartment";
}

<h2>ViewSupervisorsPerDepartment</h2>

<div class="container">
    @foreach (var sup in Model)
    {
        if (sup.Roles.SingleOrDefault(r => r.RoleId == "66552c0c-7cf1-4663-85ba-a631df9dcfd2") != null)
        {<div class="row">
                <div class="col-md-3">
                    <img src="~/ProfPics/@sup.Worker.Pic" />
                </div>
                <div class="col-md-3">

                    <p>Full Name</p>
                    @Html.DisplayFor(m => sup.Worker.FullName, new { @class = "" })



                </div>
                <div class="col-md-3">
                    <p>Supervisor</p>
                </div>
                <div class="col-md-3">
                    @Html.ActionLink("Details", "FindWorkerByName", "Display", new { stringSearch = sup.Worker.FullName }, new { @class = "" })
                    <button>Details</button>
                </div>
            </div>
            }
        }
</div>

