@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "ViewAllWorkersPerRole";
}

<h2>ViewAllWorkersPerRole</h2>

@foreach(var user in Model.Users)
            {
        //       @Html.DisplayFor(s=>user.)
            }