
@{
    ViewBag.Title = "ContactIT";
}
<h3 class="views-headings">Contact IT</h3>
<p class="views-comments">Please for every incident with the App usability contact via Phone for the fastest possible response.</p>
<hr />



<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
    <div class="card justify-content-center" style="width: 18rem;">
        <img src="~/EIKONES/lagos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Spiliopoylos Constantinos</h5>
            <p class="card-text">
                <address>
                    Athens , Greece<br />
                    Dimitrakopoyloy 54<br />
                    <abbr title="Phone">HOTLINE: 6981234218</abbr>
                    teampyravlos@gmail.com
                </address>
            </p>
        </div>
    </div>
    <div class="justify-content-center" style="width: 2rem;">
        </div>
        <div class="card justify-content-center" style="width: 18rem;">
            <img src="~/EIKONES/lagos-it.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pantazopoulos Giannis</h5>
                <p class="card-text">
                    <address>
                        Athens , Greece<br />
                        Xalkidas 33<br />
                        <abbr title="Phone">HOTLINE: 6981921099</abbr>
                        itpyravlos31@gmail.com
                    </address>
                </p>
            </div>
        </div>

    </div>