@{
    ViewBag.Title = "Contact"; Layout = null;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Athens , Greece<br />
    Dimitrakopoyloy 54<br />
    <abbr title="Phone">HOTLINE: 6981234218</abbr>
    teampyravlos@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>